<!doctype html>
<html>
	<head>
		<title>App in AngularJS</title>
		<link rel="stylesheet/scss" type="text/css" href="css/scss/style.scss">
		<script src="//cdnjs.cloudflare.com/ajax/libs/sass.js/0.6.3/sass.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="js/allPhotos.js"></script>
	</head>
	<body ng-app="picViewApp">
	<h1><a ng-href="index.html">Picture Viewing Application</a></h1>
	<p class="amount">Albums: 100 Photos: 5000</p>
		<div ng-controller="allPhotos">
			<ul>
				<li ng-repeat="photo in allphotos">				
					<img ng-src="{{photo.thumbnailUrl}}" ng-click="getAlbum(photo.albumId)">
				</li>
			</ul>
			<ul>
				<li ng-repeat="aPhoto in albumPhoto">
					<img ng-src="{{aPhoto.thumbnailUrl}}" ng-click="getPhoto(aPhoto.id)">
				</li>
			</ul>
			<ul>
				<li ng-model="onephoto">
					<img ng-src="{{onephoto.url}}">
				</li>
			</ul>
		</div>
	</body>
</html>